<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="sysCode"			type="net.pmhtech.sys.code.domain.SysCode"/>
		<typeAlias alias="sysCodeGroup"		type="net.pmhtech.sys.code.domain.SysCodeGroup"/>
		<typeAlias alias="sysCodeLocale"	type="net.pmhtech.sys.code.domain.SysCodeLocale"/>
		
		<typeAlias alias="sysMenu"			type="net.pmhtech.sys.menu.domain.SysMenu"/>
		<typeAlias alias="sysMenu"			type="net.pmhtech.sys.menu.domain.SysMenuCode"/>
		
		<typeAlias alias="sysFile"			type="net.pmhtech.sys.file.domain.SysFile"/>
		<typeAlias alias="sysSequence"		type="net.pmhtech.sys.seq.domain.SysSequence"/>
		
		
		
		<typeAlias alias="userMst"			type="net.pmhtech.user.domain.UserMst"/>
		
		<typeAlias alias="resultMap"		type="java.util.HashMap"/>
		<typeAlias alias="paramMap"			type="java.util.HashMap"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="net/pmhtech/sys/code/domain/mybatis/SysCode.xml"/>
		<mapper resource="net/pmhtech/sys/code/domain/mybatis/SysCodeGroup.xml"/>
		<mapper resource="net/pmhtech/sys/code/domain/mybatis/SysCodeLocale.xml"/>
		
		<mapper resource="net/pmhtech/sys/menu/domain/mybatis/SysMenuCode.xml"/>
		
		<mapper resource="net/pmhtech/sys/file/domain/mybatis/SysFile.xml"/>
		<mapper resource="net/pmhtech/sys/seq/domain/mybatis/SysSequence.xml"/>
		
		
		
		
		
		<mapper resource="net/pmhtech/user/domain/mybatis/UserMst.xml"/>
		
		
	</mappers> 
</configuration> 